# TEST-RESULTS

## Black box testiranje

Test 1  
Input: 4+5  
Expected result: 9  
Actual result: 9  
Result: PASS  

Test 2  
Input: 10+5*4+3  
Expected result: 33  
Actual result: 33  
Result: PASS  

Test 3  
Input: 10-5  
Expected result: 5  
Actual result: 5  
Result: PASS  

Test 4  
Input: 8/2  
Expected result: 4  
Actual result: 4  
Result: PASS  

Test 5  
Input: 10/0  
Expected result: Program treba da prijavi grešku za deljenje nulom.  
Actual result: Nije jasno obrađeno deljenje nulom.  
Result: FAIL  

## Zapažanja

Kalkulator uspešno izvršava osnovne aritmetičke operacije i poštuje prioritet operacija.  
Primećeno je da bi trebalo poboljšati obradu neispravnog unosa i deljenja nulom.